---
#TODO always returns succeeded
- name: update private ipv4 address in /etc/hosts
  lineinfile: dest=/etc/hosts
    regexp="127.0.0.1\t{{ ansible_fqdn }}"
    backrefs="yes"
    line="{{ private_ipv4_address }}\t{{ ansible_fqdn }}\t{{ ansible_hostname }}"

- name: add private ipv6 address to /etc/hosts
  lineinfile: dest=/etc/hosts
    line="{{ private_ipv6_address }}\t{{ ansible_fqdn }}\t{{ ansible_hostname }}"

- name: "Add PEERDNS=no option"
  lineinfile:
    dest="/etc/sysconfig/network-scripts/ifcfg-eth0"
    line="PEERDNS=no"
  notify: restart network

- name: Check exists /etc/sysconfig/network-scripts/ifcfg-eth1
  stat:
    path: /etc/sysconfig/network-scripts/ifcfg-eth1
  register: ifcfg_eth1_state

- name: modify private connection
  shell: nmcli connection modify Wired\ connection\ 1 connection.id eth1 ipv4.addresses {{ private_ipv4_address }}/24 ipv4.dns {{ ipa_ipv4 }} +ipv4.dns {{ ansible_dns.nameservers[0] }} +ipv4.dns {{ google_dns4 }} ipv6.addresses {{ private_ipv6_address }}/24 ipv6.dns {{ ipa_ipv6 }} ipv4.method manual ipv6.method manual
  when: ifcfg_eth1_state.stat.exists == false

- name: name private connection 'System eth1'
  shell: nmcli connection modify eth1 connection.id System\ eth1
  when: ifcfg_eth1_state.stat.exists == false

  # https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/7/html/Networking_Guide/sec-Network_Configuration_Using_sysconfig_Files.html
- name: apply connection settings to eth1
  shell: nmcli dev disconnect eth1;nmcli con up System\ eth1
  when: ifcfg_eth1_state.stat.exists == false

# sed -i 's/^PasswordAuthentication no/PasswordAuthentication yes/g' /etc/ssh/sshd_config
- name: allow ssh logon with password
  replace:
    dest: /etc/ssh/sshd_config
    regexp: ^PasswordAuthentication no
    replace: PasswordAuthentication yes
  register: allow_ssh_password

- name: restart sshd
  service:
    name: sshd
    state: restarted
  when: allow_ssh_password|succeeded

- name: "Add user account & set its password"
  user:
    name="{{ default_user_name }}"
    groups="wheel"
    password="{{ default_user_password }}"
    update_password="always"

- name: "change root password"
  user:
    name="root"
    password="{{ root_user_password }}"
    update_password="always"

# python-pip & haveged are part of the community repository epel-release
- name: enable Extra Packages for Enterprise Linux (epel)
  yum:
    name: epel-release
    state: present

- name: Install Bash Completion (for nmcli)
  yum: name={{ item }} state=present
  with_items:
    - libselinux-python
    - python-pip # for tzupdate
    - bash-completion
  notify: update pip

- name: pip install tzupdate
  pip:
    name: tzupdate

# see https://github.com/cdown/tzupdate TODO CentOS GUI can be set to detect timezone, but how can we set this automated?
- name: set timezone based on geolocation
  shell: /bin/sleep 15; tzupdate # sleep prevents Python error when running tzupdate immediate after install
  async: 60 # takes quite some time
  poll: 0 # we don't need to wait for this to finish

# TODO GUI boots first time with 'License not accepted' see https://bugs.centos.org/view.php?id=7177
- name: "Install 'Server With GUI' environment group"
  yum:
    name="@^Server With GUI"
    state="present"
  when: gui and (inventory_hostname_short == "server1" or inventory_hostname_short == "labipa")

- name: "Set graphical target (runlevel 5) as default"
  shell: systemctl set-default graphical.target
  when: gui and inventory_hostname_short == "labipa"
  # notify: reboot TODO, for now do a 'vagrant reload' after provisioning

# support 'scp labipa.example.local:/etc/ipa/ca.crt /etc/openldap/cacerts/' p145
- name: make /etc/openldap/cacerts directory
  file:
    path: /etc/openldap/cacerts
    state: directory
